apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argo-ingress
  namespace: argocd
spec:
  ingressClassName: nginx
  rules:
  - host: argocd.{{ cluster_name }}.eficode.academy 
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              name: http
